@charset "UTF-8";
/* CSS Document */
* {
  box-sizing: border-box; }

body, p, ul, ol, dl, dd, h1, h2, h3, h4, h5, h6, td, input, select, option, textarea {
  margin: 0;
  padding: 0; }

html, body {
  height: 100%;
  width: 100%;
  position: relative; }

body {
  font-family: "微软雅黑", Arial;
  font-size: 12px;
  display: flex;
  background-color: #f7f7f7; }

a {
  text-decoration: none; }

ul, ol {
  list-style: none; }

img {
  border: none;
  vertical-align: middle; }

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 240px;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto; }
  nav .nav-t {
    display: flex;
    height: 59px;
    width: 100%;
    background: #172b4d;
    border-bottom: 1px solid #3a4b68; }
    nav .nav-t a {
      display: block;
      margin: 0 auto;
      color: #f9fafb;
      font-size: 12px;
      margin-top: 15px; }
      nav .nav-t a img {
        width: 33px;
        height: 33px;
        margin-right: 15px; }
  nav h6 {
    display: block;
    width: 100%;
    height: 38px;
    line-height: 38px;
    color: #8da1ae;
    font-size: 12px;
    text-align: left;
    padding-left: 18px;
    background: #172b4d; }
  nav .nav-c {
    display: block;
    width: 100%;
    background: #172b4d;
    height: auto; }
    nav .nav-c ul {
      display: block; }
      nav .nav-c ul li {
        display: block;
        width: 100%;
        border-left: 3px solid #172b4d;
        cursor: pointer; }
        nav .nav-c ul li a {
          display: flex;
          width: 100%;
          justify-content: space-between;
          display: inline-block;
          margin: auto 0;
          line-height: 38px; }
          nav .nav-c ul li a i {
            font-size: 15px;
            color: #7f9bcc;
            margin-right: 16px;
            margin-left: 18px; }
          nav .nav-c ul li a span {
            display: inline-block;
            color: #7a96c6;
            font-size: 15px; }
          nav .nav-c ul li a img {
            float: right;
            width: 10px;
            height: 10px;
            display: block;
            margin-right: 14px;
            margin-top: 15px; }
          nav .nav-c ul li a .b1 {
            float: right;
            margin-right: 14px;
            margin-top: 10px;
            padding: 0 5px;
            height: 19px;
            line-height: 19px;
            color: #f3fcfe;
            background: #11cdef;
            font-size: 12px;
            border-radius: 3px; }
          nav .nav-c ul li a .b2 {
            float: right;
            margin-right: 14px;
            margin-top: 10px;
            padding: 0 5px;
            height: 19px;
            line-height: 19px;
            color: #fffbfa;
            background: #fb6340;
            font-size: 12px;
            border-radius: 3px; }
          nav .nav-c ul li a .b3 {
            float: right;
            margin-right: 14px;
            margin-top: 10px;
            padding: 0 5px;
            height: 19px;
            line-height: 19px;
            color: #fef5f7;
            background: #f5365c;
            font-size: 12px;
            border-radius: 3px; }
  nav .nav-b {
    display: block;
    width: 100%;
    height: auto;
    background: #172b4d; }
    nav .nav-b ul {
      display: block; }
      nav .nav-b ul li {
        display: block;
        border-left: 3px solid #172b4d;
        width: 100%;
        height: 38px;
        cursor: pointer; }
        nav .nav-b ul li a {
          display: flex;
          width: 100%;
          justify-content: space-between;
          display: inline-block;
          margin: auto 0;
          line-height: 38px; }
          nav .nav-b ul li a i {
            font-size: 15px;
            color: #7f9bcc;
            margin-right: 16px;
            margin-left: 18px; }
          nav .nav-b ul li a span {
            display: inline-block;
            color: #7a96c6;
            font-size: 15px; }
          nav .nav-b ul li a img {
            float: right;
            width: 10px;
            height: 10px;
            display: block;
            margin-right: 14px;
            margin-top: 15px; }
      nav .nav-b ul li:first-child a i {
        color: #f5365c; }
      nav .nav-b ul li:nth-of-type(2) a i {
        color: #2dce89; }
      nav .nav-b ul li:nth-of-type(3) a i {
        color: #11cdef; }

nav::-webkit-scrollbar {
  display: none; }

.nav-c ul .none {
  display: block;
  width: 100%;
  display: none; }
  .nav-c ul .none p {
    display: block;
    width: 100%;
    height: 38px;
    cursor: pointer; }
    .nav-c ul .none p a {
      display: flex;
      width: 100%;
      justify-content: space-between;
      display: inline-block;
      margin: auto 0;
      line-height: 38px; }
      .nav-c ul .none p a i {
        font-size: 12px;
        color: #7f9bcc;
        margin-right: 16px;
        margin-left: 26px; }
      .nav-c ul .none p a span {
        display: inline-block;
        color: #7a96c6;
        font-size: 12px; }

.right {
  overflow-x: hidden;
  overflow-y: auto;
  flex: 1; }

header {
  display: block;
  padding: 0 32px;
  height: 60px;
  display: flex;
  background: white;
  justify-content: space-between;
  box-shadow: 0 4px 4px #eeeeee; }
  header .three {
    display: flex; }
    header .three i {
      font-size: 14px;
      color: #172b4d;
      margin: auto 0;
      margin-right: 28px; }
    header .three .forms {
      display: block;
      position: relative;
      margin: auto 0; }
      header .three .forms input {
        border: 0px solid #f4f5f7;
        font-size: 15px;
        width: 280px;
        border-radius: 5px;
        height: 34px;
        background: #f9f9f9;
        padding-left: 14px;
        box-shadow: 0 1px 3px rgba(50, 50, 93, 0.15), 0 1px 0 rgba(0, 0, 0, 0.02); }
      header .three .forms a {
        display: block;
        position: absolute;
        right: 10px;
        top: 9px; }
  header .four {
    display: block; }
    header .four ul {
      display: flex;
      position: relative; }
      header .four ul li {
        display: block;
        width: 45px;
        margin: auto 0; }
        header .four ul li a {
          position: relative; }
          header .four ul li a i {
            line-height: 60px;
            font-size: 22px;
            color: #334563; }
          header .four ul li a span {
            display: block;
            color: #ffffff;
            background: #ff2fa0;
            font-size: 11px;
            width: 22px;
            height: 18px;
            border-radius: 10px;
            text-align: center;
            line-height: 18px;
            position: absolute;
            top: -12px;
            left: 10px; }
          header .four ul li a .sp2 {
            background: #11cdef; }
      header .four ul .nono1 {
        width: 280px;
        position: absolute;
        top: 62px;
        right: -32px;
        z-index: 10;
        background: white;
        border: 1px solid #e5e5e5; }
        header .four ul .nono1 .ppp {
          display: flex;
          padding: 0 20px;
          border-bottom: 1px solid #e5e5e5;
          line-height: 46px;
          justify-content: space-between; }
          header .four ul .nono1 .ppp .spsp1 {
            color: #212529;
            font-size: 14px;
            margin: auto 0；; }
          header .four ul .nono1 .ppp .spsp2 {
            display: block;
            color: #ffffff;
            background: #ff2fa0;
            font-size: 11px;
            width: 22px;
            height: 18px;
            border-radius: 10px;
            text-align: center;
            line-height: 18px;
            margin: auto 0; }
        header .four ul .nono1 .pps {
          font-size: 14px;
          color: #5f73e4;
          border-bottom: 0; }
        header .four ul .nono1 .uls {
          display: block; }
          header .four ul .nono1 .uls .lis {
            height: 84px;
            display: flex;
            padding: 0 10px;
            border-bottom: 1px solid #e5e5e5; }
            header .four ul .nono1 .uls .lis img {
              width: 76px;
              height: 72px;
              margin: auto 0; }
            header .four ul .nono1 .uls .lis .img-r {
              flex: 1;
              display: block; }
              header .four ul .nono1 .uls .lis .img-r h4 {
                color: #272727;
                font-size: 16px;
                padding-left: 10px;
                padding-top: 10px;
                padding-bottom: 2px; }
              header .four ul .nono1 .uls .lis .img-r p {
                color: #232323;
                font-size: 14px;
                padding-left: 10px;
                width: 185px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap; }
              header .four ul .nono1 .uls .lis .img-r h6 {
                padding-top: 5px;
                color: #5f73e4;
                font-size: 14px;
                font-weight: 200;
                padding-left: 10px; }

.num {
  display: block;
  margin-top: 20px;
  margin-bottom: 20px; }
  .num ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0 28px;
    justify-content: space-around; }
    .num ul li {
      display: flex;
      height: 92px;
      width: 24%;
      border-radius: 4px;
      background: #2dce89;
      justify-content: space-between; }
      .num ul li img {
        width: 60px;
        height: 60px;
        margin: auto 0;
        margin-right: 18px; }
      .num ul li .li-l {
        margin: auto 0;
        margin-left: 18px; }
        .num ul li .li-l p {
          color: white;
          font-size: 14px; }
        .num ul li .li-l h2 {
          color: white;
          font-size: 22px; }
    .num ul .lis-1 {
      background: #5e72e4; }
    .num ul .lis-2 {
      background: #f5365c; }
    .num ul .lis-3 {
      background: #11cdef; }

.charts-1 {
  display: flex;
  width: 96%;
  justify-content: space-around;
  margin: 0 20px;
  flex-wrap: wrap; }
  .charts-1 .charts-1-l {
    flex: 1;
    height: 400px;
    box-shadow: 0px 0px 4px 0px #f0f0f0;
    border: 1px solid #f0f0f0; }
    .charts-1 .charts-1-l p {
      width: 100%;
      display: flex;
      height: 41px;
      border-bottom: 1px solid #efefef;
      justify-content: space-between;
      line-height: 41px;
      padding: 0 10px; }
      .charts-1 .charts-1-l p span {
        color: #59597d;
        font-size: 14px; }
  .charts-1 .charts-1-r {
    flex: 1;
    height: 400px;
    box-shadow: 0px 0px 4px 0px #f0f0f0;
    border: 1px solid #f0f0f0; }
    .charts-1 .charts-1-r p {
      width: 100%;
      display: flex;
      height: 41px;
      border-bottom: 1px solid #efefef;
      justify-content: space-between;
      line-height: 41px;
      padding: 0 10px; }
      .charts-1 .charts-1-r p span {
        color: #59597d;
        font-size: 14px; }

#main {
  height: 380px; }

#max {
  height: 380px; }

.charts3 {
  width: 96%;
  margin: 0 auto;
  box-shadow: 0px 0px 4px 0px #f0f0f0;
  border: 1px solid #f0f0f0;
  margin-top: 10px;
  margin-bottom: 20px; }
  .charts3 p {
    width: 100%;
    display: flex;
    height: 41px;
    border-bottom: 1px solid #efefef;
    justify-content: space-between;
    line-height: 41px;
    padding: 0 10px; }
    .charts3 p select {
      display: block;
      width: 89px;
      height: 29px;
      line-height: 29px;
      border: 1px solid #e5eaef;
      border-radius: 2px;
      margin: auto 10px; }
  .charts3 .charts-3 {
    height: 372px;
    width: 100%; }

.New {
  width: 100%;
  margin: 0 auto;
  display: flex;
  background: white; }
  .New .New-l {
    width: 65%;
    height: 416px;
    background: white;
    margin: 0 15px;
    box-shadow: 0px 0px 4px 0px #f0f0f0;
    border: 1px solid #f0f0f0; }
    .New .New-l p {
      width: 100%;
      display: flex;
      height: 41px;
      border-bottom: 1px solid #efefef;
      justify-content: space-between;
      line-height: 41px;
      padding: 0 10px; }
      .New .New-l p span {
        color: #59597d;
        font-size: 14px; }
    .New .New-l .pnue {
      display: block; }
      .New .New-l .pnue ul {
        display: block; }
        .New .New-l .pnue ul li {
          height: 42px;
          display: flex;
          border-bottom: 1px solid #e9ecef; }
          .New .New-l .pnue ul li span {
            display: block;
            line-height: 42px;
            width: 25%;
            box-sizing: border-box;
            text-align: left;
            padding-left: 20px;
            color: #6c6c6c;
            font-size: 14px; }
        .New .New-l .pnue ul .li1 {
          height: 66px;
          display: flex;
          background: white;
          border-bottom: 1px solid #e9ecef; }
          .New .New-l .pnue ul .li1 span {
            display: block;
            width: 25%;
            line-height: 66px;
            color: #6c6c6c;
            font-size: 14px; }
            .New .New-l .pnue ul .li1 span img {
              width: 42px;
              margin: auto 0;
              height: 42px;
              vertical-align: middle; }
        .New .New-l .pnue ul .li2 {
          border-bottom: 0; }
  .New .New-r {
    width: 30%;
    background: white;
    height: 416px;
    box-shadow: 0px 0px 4px 0px #f0f0f0;
    border: 1px solid #f0f0f0; }
    .New .New-r p {
      width: 100%;
      display: flex;
      height: 41px;
      border-bottom: 1px solid #efefef;
      justify-content: space-between;
      line-height: 41px;
      padding: 0 10px; }
      .New .New-r p span {
        color: #616184;
        font-size: 14px; }
    .New .New-r .socail {
      display: block; }
      .New .New-r .socail ul {
        display: block; }
        .New .New-r .socail ul li {
          display: flex;
          width: 90%;
          height: 75px;
          margin-left: 20px;
          border-bottom: 1px solid #efefef; }
          .New .New-r .socail ul li img {
            display: block;
            width: 27px;
            height: 26px;
            margin: auto 0;
            margin-right: 16px; }
          .New .New-r .socail ul li .img-r {
            flex: 1;
            display: block;
            margin: auto 0; }
            .New .New-r .socail ul li .img-r .in {
              display: flex;
              justify-content: space-between;
              margin-bottom: 16px; }
              .New .New-r .socail ul li .img-r .in h2 {
                display: block;
                font-size: 14px;
                color: #636363;
                font-weight: 900; }
              .New .New-r .socail ul li .img-r .in b {
                display: block;
                font-size: 14px;
                color: #636363; }
            .New .New-r .socail ul li .img-r .line {
              height: 7px;
              border-radius: 3px;
              background: #d9dcde !important; }
              .New .New-r .socail ul li .img-r .line .line-1 {
                height: 7px;
                border-top-left-radius: 3px;
                border-bottom-left-radius: 3px;
                width: 65%;
                background: #3b5998; }
        .New .New-r .socail ul .li-2 .img-r .line .line-1 {
          width: 50%;
          background: #55acee; }
        .New .New-r .socail ul .li-3 .img-r .line .line-1 {
          width: 70%;
          background: #ea4c89; }
        .New .New-r .socail ul .li-4 .img-r .line .line-1 {
          width: 35%;
          background: #0976b4; }
        .New .New-r .socail ul .li-5 .img-r .line .line-1 {
          width: 5%;
          background: #e52d27; }

.four-quan {
  display: block;
  width: 98%;
  margin: 0 auto;
  background: white; }
  .four-quan .quan {
    padding: 2%; }
    .four-quan .quan ul {
      display: flex;
      justify-content: space-around;
      box-shadow: 0px 0px 4px 0px #f0f0f0;
      border: 1px solid #f0f0f0; }
      .four-quan .quan ul li {
        width: 25%;
        display: block;
        box-sizing: border-box;
        border-right: 1px solid #ececec; }
        .four-quan .quan ul li #one-q1 {
          width: 90%;
          height: 160px;
          margin: auto;
          margin-top: 10px;
          padding-bottom: 10px;
          border-bottom: 1px solid #e4eaec; }
        .four-quan .quan ul li #one-q2 {
          width: 90%;
          height: 160px;
          margin: auto;
          margin-top: 10px;
          padding-bottom: 10px;
          border-bottom: 1px solid #e4eaec; }
        .four-quan .quan ul li #one-q3 {
          width: 90%;
          height: 160px;
          margin: auto;
          margin-top: 10px;
          padding-bottom: 10px;
          border-bottom: 1px solid #e4eaec; }
        .four-quan .quan ul li #one-q4 {
          width: 90%;
          height: 160px;
          margin: auto;
          margin-top: 10px;
          padding-bottom: 10px;
          border-bottom: 1px solid #e4eaec; }
        .four-quan .quan ul li h2 {
          color: #172b4d;
          text-align: center;
          font-size: 14px;
          line-height: 54px; }
      .four-quan .quan ul li:last-child {
        border-right: 0; }

footer {
  width: 100%;
  margin: 0 auto;
  display: flex;
  background: white;
  padding-bottom: 47px;
  border-bottom: 1px solid #e8e8e8; }
  footer .footer-1 {
    width: 98%;
    background: white;
    margin: 0 auto;
    box-shadow: 0px 0px 4px 0px #f0f0f0;
    border: 1px solid #f0f0f0; }
    footer .footer-1 p {
      width: 100%;
      display: flex;
      height: 41px;
      border-bottom: 1px solid #efefef;
      justify-content: space-between;
      line-height: 41px;
      padding: 0 10px; }
      footer .footer-1 p span {
        color: #59597d;
        font-size: 14px; }
    footer .footer-1 .foot-pnue {
      display: block; }
      footer .footer-1 .foot-pnue ul {
        display: block; }
        footer .footer-1 .foot-pnue ul li {
          height: 42px;
          display: flex;
          border-bottom: 1px solid #e9ecef; }
          footer .footer-1 .foot-pnue ul li span {
            display: block;
            line-height: 42px;
            width: 25%;
            box-sizing: border-box;
            text-align: left;
            padding-left: 20px;
            color: #6c6c6c;
            font-size: 14px; }
        footer .footer-1 .foot-pnue ul .li1 {
          height: 66px;
          display: flex;
          background: white;
          border-bottom: 1px solid #e9ecef; }
          footer .footer-1 .foot-pnue ul .li1 span {
            display: flex;
            flex: 1;
            line-height: 66px;
            color: #646464;
            font-size: 15px; }
            footer .footer-1 .foot-pnue ul .li1 span img {
              width: 45px;
              margin: auto 0;
              height: 45px;
              vertical-align: middle; }
            footer .footer-1 .foot-pnue ul .li1 span input {
              margin: auto 0;
              display: block;
              width: 16px;
              height: 16px;
              border: 2px solid #787878;
              background: white; }
            footer .footer-1 .foot-pnue ul .li1 span a {
              display: block;
              width: 80%;
              height: 36px;
              border-radius: 15px;
              background: white;
              text-align: center;
              line-height: 36px;
              margin: auto 0; }
          footer .footer-1 .foot-pnue ul .li1 .xian1 {
            height: 4px;
            width: 96%;
            display: flex;
            margin: auto 0;
            background: linear-gradient(45deg, #00b09b, #96c93d) !important; }
            footer .footer-1 .foot-pnue ul .li1 .xian1 .xian2 {
              height: 4px;
              width: 96%; }
            footer .footer-1 .foot-pnue ul .li1 .xian1 .xian2-1 {
              height: 4px;
              width: 0;
              background: linear-gradient(45deg, #00b09b, #96c93d) !important; }
        footer .footer-1 .foot-pnue ul .li2 {
          border-bottom: 0; }
      footer .footer-1 .foot-pnue .li1-1 span a {
        color: #2dce89;
        border: 1px solid #13cdef; }
      footer .footer-1 .foot-pnue .li1-1 span a:hover {
        color: white;
        background: #2dce89; }
      footer .footer-1 .foot-pnue .li1-2 span a {
        color: #13cdef;
        border: 1px solid #13cdef; }
      footer .footer-1 .foot-pnue .li1-2 span a:hover {
        color: white;
        background: #11cdef; }
      footer .footer-1 .foot-pnue .li1-2 .xian1 {
        display: flex;
        height: 4px;
        width: 96%;
        margin: auto 0; }
        footer .footer-1 .foot-pnue .li1-2 .xian1 .xian2 {
          height: 4px;
          width: 80%;
          margin: 0 auto;
          background: linear-gradient(45deg, #4facfe 0%, #00f2fe 100%) !important; }
        footer .footer-1 .foot-pnue .li1-2 .xian1 .xian2-2 {
          height: 4px;
          width: 16%;
          background: #e9ecef; }
      footer .footer-1 .foot-pnue .li1-3 span a {
        color: #f5365c;
        border: 1px solid #f5365c; }
      footer .footer-1 .foot-pnue .li1-3 span a:hover {
        color: white;
        background: #f5365c; }
      footer .footer-1 .foot-pnue .li1-3 .xian1 {
        display: flex;
        height: 4px;
        width: 96%;
        margin: auto 0; }
        footer .footer-1 .foot-pnue .li1-3 .xian1 .xian2 {
          height: 4px;
          width: 58%;
          margin: 0 auto;
          background: linear-gradient(45deg, #ee0979, #ff6a00) !important; }
        footer .footer-1 .foot-pnue .li1-3 .xian1 .xian2-3 {
          height: 4px;
          width: 38%;
          background: #e9ecef; }
      footer .footer-1 .foot-pnue .li1-4 span a {
        color: #2dce89;
        border: 1px solid #2dce89; }
      footer .footer-1 .foot-pnue .li1-4 span a:hover {
        color: white;
        background: #2dce89; }
      footer .footer-1 .foot-pnue .li1-4 .xian1 {
        display: flex;
        height: 4px;
        width: 96%;
        margin: auto 0; }
        footer .footer-1 .foot-pnue .li1-4 .xian1 .xian2 {
          height: 4px;
          width: 96%;
          margin: 0 auto; }
        footer .footer-1 .foot-pnue .li1-4 .xian1 .xian2-4 {
          height: 4px;
          width: 0%;
          background: #e9ecef; }
      footer .footer-1 .foot-pnue .li1-5 span a {
        color: #f64366;
        border: 1px solid #f64366; }
      footer .footer-1 .foot-pnue .li1-5 span a:hover {
        color: white;
        background: #f64366; }
      footer .footer-1 .foot-pnue .li1-5 .xian1 {
        display: flex;
        height: 4px;
        width: 96%;
        margin: auto 0; }
        footer .footer-1 .foot-pnue .li1-5 .xian1 .xian2 {
          height: 4px;
          width: 83%;
          margin: 0 auto;
          background: linear-gradient(45deg, #ee0979, #ff6a00) !important; }
        footer .footer-1 .foot-pnue .li1-5 .xian1 .xian2-5 {
          height: 4px;
          width: 13%;
          background: #e9ecef; }
      footer .footer-1 .foot-pnue .li1-6 span a {
        color: #13cdef;
        border: 1px solid #13cdef; }
      footer .footer-1 .foot-pnue .li1-6 span a:hover {
        color: white;
        background: #13cdef; }
      footer .footer-1 .foot-pnue .li1-6 .xian1 {
        display: flex;
        height: 4px;
        width: 96%;
        margin: auto 0; }
        footer .footer-1 .foot-pnue .li1-6 .xian1 .xian2 {
          height: 4px;
          width: 80%;
          margin: 0 auto;
          background: linear-gradient(45deg, #4facfe 0%, #00f2fe 100%) !important; }
        footer .footer-1 .foot-pnue .li1-6 .xian1 .xian2-6 {
          height: 4px;
          width: 16%;
          background: #e9ecef; }

.foot {
  width: 100%; }
  .foot p {
    text-align: center;
    color: #272727;
    line-height: 46px;
    font-size: 14px; }
    .foot p span {
      display: inline-block;
      color: #5e72e4;
      font-size: 14px; }

@media screen and (max-width: 1120px) and (min-width: 700px) {
  #input-1 {
    width: 220px; } }

@media screen and (max-width: 770px) {
  #input-1 {
    width: 200px; }
  nav {
    display: none; }
  .shadow {
    display: none; } }

@media screen and (max-width: 480px) {
  .right header .four .dropdown-lg {
    display: none; } }

@media screen and (max-width: 1200px) and (min-width: 990px) {
  .num ul li {
    width: 48%;
    margin-bottom: 10px; } }

@media screen and (max-width: 990px) {
  .num ul li {
    width: 96%;
    margin-bottom: 10px; }
  .charts-1 {
    display: block; }
  .charts-1-l {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 10px; }
  #main {
    margin-bottom: 10px; }
  .charts-1-r {
    width: 90%;
    margin: 0 auto; } }

@media screen and (max-width: 1200px) and (min-width: 1000px) {
  .pnue {
    width: 99%;
    overflow: hidden;
    overflow-x: scroll; } }

@media screen and (max-width: 866px) and (min-width: 770px) {
  .New .New-l .pnue ul {
    width: 99%;
    overflow: hidden;
    overflow-x: auto; } }

@media screen and (max-width: 600px) {
  .New .New-l .pnue ul {
    width: 99%;
    overflow: hidden;
    overflow-x: auto; } }

@media screen and (max-width: 1000px) {
  .New {
    display: flex;
    flex-direction: column; }
  .New .New-l {
    width: 98%;
    margin: 0 auto; }
  .New .New-r {
    width: 98%;
    margin: 0 auto; } }

@media screen and (max-width: 910px) {
  .four-quan .quan ul {
    flex-direction: column; }
  .four-quan .quan ul li {
    width: 98%;
    margin: 0 auto;
    border-right: 0; }
  .four-quan .quan ul li h2 {
    border-bottom: 1px solid #e4eaec; } }

@media screen and (max-width: 1215px) {
  footer .footer-1 .foot-pnue ul {
    width: 99%;
    overflow: hidden;
    overflow-x: auto; }
  footer .footer-1 .foot-pnue ul li {
    width: 888px; } }
